.project-header{
    display: inline-block;
    margin-right: 3%;
}

.portfolio-icon{
    display: inline-block;
    margin-left: 4%;
}

.portfolio-title{
}

.project-header-title{
    margin-right: 8%;
    width: fit-content;
}